# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg

# Virtual Environment
Homework_02_mvc_with_classes/.venv/
Homework_02_mvc_with_classes/venv/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Логи и временные файлы
*.log
*.tmp